---
import MainLayout from '../layouts/Layout.astro';
---

<MainLayout title="Home">
  <h1 class="text-4xl font-bold mb-4">Welcome to CDMX Cafes</h1>
  <p class="text-lg">Discover the best coffee spots in Mexico City!</p>
</MainLayout>
