<div id="filters">
    <label><input type="checkbox" value="roaster" checked> Roasters</label>
    <label><input type="checkbox" value="cafe" checked> Cafes</label>
    <label><input type="checkbox" value="laptop_friendly" checked> Laptop-Friendly</label>
  </div>
  
  <style>
    #filters {
      position: absolute;
      top: 60px;
      left: 10px;
      z-index: 10;
      background: white;
      padding: 10px;
      border-radius: 5px;
    }
  </style>